html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#main-container {
    width: 700px;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 0px;
}

#container {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(16, auto);
    grid-gap: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 5px;
    border-radius: 0px;
    border-color: red;   
}

.grid {
    grid-gap: 0px;
    margin: 0px;
}